.inputBlock {
  width: 100%;
  .input, .input__valid {
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: rgba(74, 74, 74, 0.1);
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    width: 100%;
    padding-inline: 0;
    transition: all .2s ease;
    padding: 15px 0 0 15px;
    box-sizing: border-box;

    &:hover {
      background-color: white;
      box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.3);
      transition: all .2s ease;
    }

    &:focus-visible {
      background-color: white;
      border: 1px rgba(74, 74, 74, 0.1) solid;
      outline: none;
      transition: all .2s ease;
      & ~ .label {
        bottom: 50px;
        font-size: 11px;
        transition: all .2s ease;
        color: rgba(100, 214, 94, 1);
      }
    }
  }

  .input__valid {
    &:valid, &:invalid {
      & ~ .label {
        bottom: 50px;
        font-size: 11px;
        transition: all .2s ease;
      }
    }
  }

  .label {
    pointer-events: none;
    position: relative;
    bottom: 35px;
    left: 15px;
    color: rgba(150, 150, 150, 1);
    font-size: 13px;
    transition: all .2s ease;
  }

  .errorBlock {
    height: 0;
    .error {
      color: red;
      font-size: 11px;
      position: relative;
      //right: 28px;
      bottom: 23px;
    }
  }
}
